@section NavBar{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="author" asp-action="index">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="author" asp-action="add">Add Authors</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="book" asp-action="index">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="book" asp-action="add">Add Books</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
}
@section NavPartial
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserFav">Favorites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
    </li>
}

@using TeamB.BookManagement
@model Book

<section id="addAuthor">
<h2 style="text-align:center;">ADD NEW BOOK</h2>


<form asp-action="Add" method="POST">

    <label asp-for="@Model.Id" class='form-label'>Id</label>
        <input type='text' name="Id" value="@Model.Id" class='form-control' placeholder="Enter Book ID" />

    <label asp-for="@Model.Title" class='form-label'>Title</label>
        <input type='text' name="Title" value="@Model.Title" class='form-control' placeholder="Enter Book Title" />



    <label asp-for="@Model.Description" class='form-label'>Description</label>
        <input type='text' name="Description" value="@Model.Description" class='form-control' placeholder="Enter Book Description" />

    <label asp-for="@Model.Cover_Photo" class='form-label'>Cover Photo</label>
        <input type='text' name="Cover_Photo" value="@Model.Cover_Photo" class='form-control' placeholder="Enter Book Cover Photo URL" />

    <label asp-for="@Model.Author_Id" class='form-label'>Author Id</label>
        <input type='text' name="Author_Id" value="@Model.Author_Id" class='form-control' placeholder="Enter Author ID" />




    <div>

        <input type="submit" value="Add Book" class='btn btn-primary form-control' />
    </div>
</form>
</section>
