@section NavBar{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="author" asp-action="index">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="author" asp-action="add">Add Authors</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="book" asp-action="index">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="book" asp-action="add">Add Books</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
}
@section NavPartial
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserFav">Favorites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
    </li>
}

@using TeamB.BookManagement
@model Book

<div>
    <div id="aboutbook">

        <div id="booksection">
            <div>
                <div class='col col-md-4'>
                    <img class="bookimg" src="@Model.Cover_Photo" />
                    <h2>@Model.Title</h2>
                </div>
            </div>

            <div class='col col-md-8' id="bookdecription">

                <div id="editdecription">
                    <h3 style="color:white">Description</h3>
                    <button type="button" class="btn btn-primary ">Edit</button>
                </div>

                <div id="bookdetailsbox">
                    <p style="color:black">@Model.Description</p>
                </div>

            </div>

        </div>

    </div>

    <div id="reviews">
    </div>

</div>

@*<h2>About @Model.Title</h2>

<div class='row'>
    <div class='col col-md-4'>
        <img src="@Model.Cover_Photo" class="author-details-photo" />
    </div>

    <div class='col col-md-8'>
        <h3>Description</h3>
        <p>@Model.Description</p>
    </div>
</div>*@